<p id="footer-company-logos" class="container-wrapper textile">
  {% if settings.use_footer_brand_1 %}
  <img src="{{ 'footer_brand_1.png' | asset_url }}" alt="{{ settings.footer_brand_1_alt }}" title="{{ settings.footer_brand_1_alt }}">
  {% endif %}
  {% if settings.use_footer_brand_2 %}
  <img src="{{ 'footer_brand_2.png' | asset_url }}" alt="{{ settings.footer_brand_2_alt }}" title="{{ settings.footer_brand_2_alt }}">
  {% endif %}
  {% if settings.use_footer_brand_3 %}
  <img src="{{ 'footer_brand_3.png' | asset_url }}" alt="{{ settings.footer_brand_3_alt }}" title="{{ settings.footer_brand_3_alt }}">
  {% endif %}
  {% if settings.use_footer_brand_4 %}
  <img src="{{ 'footer_brand_4.png' | asset_url }}" alt="{{ settings.footer_brand_4_alt }}" title="{{ settings.footer_brand_4_alt }}">
  {% endif %}
  {% if settings.use_footer_brand_5 %}
  <img src="{{ 'footer_brand_5.png' | asset_url }}" alt="{{ settings.footer_brand_5_alt }}" title="{{ settings.footer_brand_5_alt }}">
  {% endif %}
  {% if settings.use_footer_brand_6 %}
  <img src="{{ 'footer_brand_6.png' | asset_url }}" alt="{{ settings.footer_brand_6_alt }}" title="{{ settings.footer_brand_6_alt }}">
  {% endif %}
  {% if settings.use_footer_brand_7 %}
  <img src="{{ 'footer_brand_7.png' | asset_url }}" alt="{{ settings.footer_brand_7_alt }}" title="{{ settings.footer_brand_7_alt }}">
  {% endif %}
  {% if settings.use_footer_brand_8 %}
  <img src="{{ 'footer_brand_8.png' | asset_url }}" alt="{{ settings.footer_brand_8_alt }}" title="{{ settings.footer_brand_8_alt }}">
  {% endif %}
  {% if settings.use_footer_brand_9 %}
  <img src="{{ 'footer_brand_9.png' | asset_url }}" alt="{{ settings.footer_brand_9_alt }}" title="{{ settings.footer_brand_9_alt }}">
  {% endif %}
  {% if settings.use_footer_brand_10 %}
  <img src="{{ 'footer_brand_10.png' | asset_url }}" alt="{{ settings.footer_brand_10_alt }}" title="{{ settings.footer_brand_10_alt }}">
  {% endif %}
  {% if settings.use_footer_brand_11 %}
  <img src="{{ 'footer_brand_11.png' | asset_url }}" alt="{{ settings.footer_brand_11_alt }}" title="{{ settings.footer_brand_11_alt }}">
  {% endif %}
</p><!--footer-logos-->