<footer id="main-footer">
  <div class="container-wrapper textile">
    {% if settings.use_footer_promo %}
    {% include 'footer-promo' %}
    {% endif %}
    {% if settings.use_videos %}
    {% include 'footer-videos' %}
    {% endif %}
    {% if settings.use_testimonies %}
    {% include 'footer-testimonials' %}
    {% endif %}
  </div><!--container-wrapper-->
  {% if settings.use_footer_image_gallery %}
  {% include 'footer-image-gallery' %}
  {% endif %}
  {% if settings.use_footer_press_slider %}
  {% include 'footer-press-slider' %}
  {% endif %}
  {% if settings.use_footer_cta %}
  {% include 'footer-cta' %}
  {% endif %}
  {% if settings.use_footer_logos %}
  {% include 'footer-logos' %}
  {% endif %}
  <div id="footer-bottom">
    <div class="container-wrapper">
      {% if settings.use_footer_social %}
      {% include 'footer-social' %}
      {% endif %}
      <div id="footer-nav"> 
        <ul>
          {% for link in linklists[settings.footer_nav_1].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul>  
          {% for link in linklists[settings.footer_nav_2].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        {% include 'search-input' %}
        <ul class="horizontal">
          {% for link in linklists[settings.footer_nav_3].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
         <ul class = "footer-account-nav horizontal">
        {% if customer %}
        <li><a href="{{ shop.url }}/account/logout" title="Logout">Logout</a></li>
        <li{% if template contains 'customer' %}{% unless template contains 'login' or template contains 'register' %} class="active"{% endunless %}{% endif %}><a href="{{ shop.url }}/account" title="View Account">Account</a> </li>
        {% else %}
        <li{% if template contains 'register' %} class="active"{% endif %}><a href="{{ shop.url }}/account/register" title="Register">Register</a></li>
        <li{% if template contains 'customer' %}{% unless template contains 'register' %} class="active"{% endunless %}{% endif %}><a href="{{ shop.url }}/account/login" title="Account">Account</a></li>
        {% endif %}
      </ul><!--utility-nav-->
      </div><!--footer-nav-->
      <div id="footer-about">
        {% if settings.use_logo %}
        <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}">
        {% endif %}
        <div id="footer-about-contact">
          <h4>{{ settings.footer_tagline }}</h4>
          <h2>{{ settings.footer_tagline_2 }}</h2>
        </div><!-- footer-about-contact -->
      </div><!--footer-about-->
    </div><!--container-wrapper-->
  </div><!--footer-bottom-->
  <div id="footer-credits" class="clearfix">
    Copyright &copy; {{ shop.name }}. {{ settings.footer_copyright }}.
  </div><!--footer-credits-->
  <div id="footer-cart">
    {% include'cart-button' %}
  </div><!--footer-cart-->
</footer><!-- main-footer -->
<script> 
  $(function() {
    var ytiframes = $('iframe[src^="https://www.youtube.com"]');
    for (var i=0; i<ytiframes.length; i++) {
     	 $(ytiframes[i]).removeAttr('height');
      	 $(ytiframes[i]).removeAttr('width');
      	 $(ytiframes[i]).wrap("<div class='ytcontainer' style='position:relative; width:100%; height:0; padding-bottom:56.25%;'></div>");
         $(ytiframes[i]).css({"position":"absolute", "width":"100%", "height":"100%"});
    }
  });
  
</script>

{% if product.title == "Test Product" %}
    {{ 'ajax.js' | asset_url | script_tag }}
{% endif %}

{{ 'jquery.lazyload.min.js' | asset_url | script_tag }}
<script>
$(function() {
  $("img.lazy").lazyload({
    threshold : 200,
    effet : "fadeIn"
  });
    
});
</script>