<div class="row row-no-margins">
  <div class="col col-no-margin col50">
    <a href="{{ settings.home_50_width_URL }}" title="{{ settings.home_50_width_alt }}"><img class="lazy" data-original="{{ 'home_50_width.jpg' | asset_url }}" alt="{{ settings.home_50_width_alt }}"></a>
  </div><!--col50-->
  <div class="col col50">
    <a href="{{ settings.home_25_width_1_URL }}" title="{{ settings.home_25_width_1_alt }}"><img class="lazy" data-original="{{ 'home_25_width_1.jpg' | asset_url }}" alt="{{ settings.home_25_width_1_alt }}"></a>
    <a href="{{ settings.home_25_width_2_URL }}" title="{{ settings.home_25_width_2_alt }}"><img class="lazy" data-original="{{ 'home_25_width_2.jpg' | asset_url }}" alt="{{ settings.home_25_width_2_alt }}"></a>
  </div><!--col50-->
</div><!--row-->