{% layout settings.customer_layout %}
<div id="generic-page" class="container-wrapper textile customers-page">
  {% include 'customer-sidebar' %}
  <main id="main-content">
    <h1>Order {{ order.name }}</h1>
    {% if order.cancelled %}
    <div id="order_cancelled" class="error">Order was cancelled on {{ order.cancelled_at | date: "%B %d, %Y %I:%M%p" }} - <strong>{{ order.cancel_reason }}</strong>.</div>
    {% endif %}
    <div class="order_date">Placed on {{ order.created_at | date: "%B %d, %Y %I:%M%p" }}</div>
    <table id="order_details">
      <thead>
        <tr>
          <th>Product</th>
          <th class="sku">SKU</th>
          <th>Price</th>
          <th>Files</th>
          <th class="total">Total</th>
        </tr>
      </thead>
      <tbody>
        {% for line_item in order.line_items %}
        <tr id="{{ line_item.id }}" class="{% cycle 'odd', 'even' %}">
          <td class="line_product alignTextLeft">
            {{ line_item.title | link_to: line_item.product.url }}
            {% if line_item.fulfillment %}
            <div class="note">
              Fulfilled {{ line_item.fulfillment.created_at | date: "%b %d" }}
              {% if line_item.fulfillment.tracking_number %}
              <a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a>
              {% endif %}
            </div>
            {% endif %}
          </td>
          <td class="sku note">{{ line_item.sku }}</td>
          <td class="money">{{ line_item.price | money | replace: '$ ','$' }}</td>
          <td class="quantity cente">{% if line_item.variant.metafields.dda.digital %}<a href="http://www.digitaldeliveryapp.com/orders/shopify_return/2909?order_id={{ order.id }}&email={{ order.email }}">Download</a>{% endif %}</td>
          <td class="total money">{{ line_item.quantity | times: line_item.price | money | replace: '$ ','$' }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr class="order_summary note">
          <td class="label alignTextLeft" colspan="4">Subtotal:</td>
          <td class="total money">{{ order.subtotal_price | money | replace: '$ ','$'}}</td>
        </tr>
        {% for shipping_method in order.shipping_methods %}
        <tr class="order_summary note">
          <td class="label alignTextLeft" colspan="4">Shipping ({{ shipping_method.title }}):</td>
          <td class="total money">{{ shipping_method.price | money | replace: '$ ','$' }}</td>
        </tr>
        {% endfor %}
        {% for tax_line in order.tax_lines %}
        <tr class="order_summary note">
          <td class="label alignTextLeft" colspan="4">Tax ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%):</td>
          <td class="total money">{{ tax_line.price | money | replace: '$ ','$' }}</td>
        </tr>
        {% endfor %}
        <tr class="order_summary order_total">
          <td class="label alignTextLeft" colspan="4">Total:</td>
          <td class="total money">{{ order.total_price | money | replace: '$ ','$' }} {{ order.currency }}</td>
        </tr>
      </tfoot>
    </table>
    <br/>
    <div class="row row-border">
      <div id="order_payment" class="col col50">
        <h3 class="order_section_title">Billing Address</h3>
        <p class="tertiary"><span class="status">Payment Status:</span> <span class="status_{{ order.financial_status }}">{{ order.financial_status }}</span></p>
        <p class="tertiary"><strong>{{ order.billing_address.name }}</strong><br>
          {{ order.billing_address.company }}<br>
          {{ order.billing_address.street }}<br>
          {{ order.billing_address.city }}, {{ order.billing_address.province }}<br>
          {{ order.billing_address.country }} {{ order.billing_address.zip }}<br>
          {{ order.billing_address.phone }}</p>
      </div>
      {% if order.shipping_address %}
      <div id="order_shipping" class="col col50">
        <h3 class="order_section_title">Shipping Address</h3>
        <p class="tertiary"><span class="status">Fulfillment Status:</span> <span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</span></p>
        <p class="tertiary"><strong>{{ order.shipping_address.name }}</strong><br>
          {{ order.shipping_address.company }}<br>
          {{ order.shipping_address.street }}<br>
          {{ order.shipping_address.city }}, {{ order.shipping_address.province }}<br>
          {{ order.shipping_address.country }} {{ order.shipping_address.zip }}<br>
          {{ order.shipping_address.phone }}</p>
      </div>
      {% endif %}
    </div><!-- order_address -->
    <p class="secondary">Questions about this order? <a href="mailto:{{ shop.email }}?subject=Questions about ORDER {{ order.name }}">Drop us a line</a>.
  </main><!-- main-content -->
</div><!-- generic-page -->