<script>
$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $("html, body").animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>




<div id="generic-page" class="bfsp-page">
  {{ page.content }}
  

    <h3 class = "bfsp-page-header"><span>Now For the First Time this incredibly effective beauty secret is revealed!</span> 
      
      
      <a class = "bfsp-buy-button" href = "#purchase-section">Buy Now</a> 
  
  </h3>
    <div class = "bfsp-wrapper" >
    <div class = "bfsp-section1">
        <img alt = "BeeFriendly Image" class = "bfsp1-cream-img" src = "{{'bf-prod-logo.jpg' | asset_url }}" />
        <h3>Now You Can Nourish Your Entire Face with one cream...<br />no chemicals. no toxins.</h3>
        <div class ="bfsp1-aside">
            <p>Do You Want this Natural Beautiful Secret? <br /> Keep Reading...</p>
            <img alt = "BeeFriendly Image" src = "{{'bf-trust-seals.jpg' | asset_url}}" />
        </div>
        <div class = "clear-fix"></div>
    </div>
    
    <div class = "bfsp-section2">
        <h4>PLEASE NOTE: The amazing beauty tip that you're about to discover is only for women who crave natural, soft, youthful skin and don't want to spend money on <span style = "text-decoration:underline;">expensive creams or complicated procedures.</span></h4>
    </div>
    
    <div class = "bfsp-section3">
        <p><strong>This is the secret turned to by everyone in the world of Hollywood film and the realm of high fashion in order to get radiant, youthful skin.</strong></p>
        <p>With just this one secret, the models and movie stars you see on the screen rejuvenate and nourish their skin in practically no time with a natural treatment that's been around since the days of Cleopatra.</p>
        <h4>You should be prepared for the following:</h4>

        <ul>
        <li><img alt = "BeeFriendly Image" src = "{{'bf-woman2.jpg' | asset_url}}" /><span>Flattering compliments about your skin that will make you blush.</span></li>
        <li><img alt = "BeeFriendly Image" src = "{{'bf-woman3.jpg' | asset_url}}" /><span>Surprising even yourself when you look in the mirror (at your impossibly beautiful skin).</span></li>
        <li><img alt = "BeeFriendly Image" src = "{{'bf-woman.jpg' | asset_url}}" /><span>Finding your friends looking through your medicine cabinet for your cosmetic secret.</span></li>
        <li><img alt = "BeeFriendly Image" src = "{{'bf-woman4.jpg' | asset_url}}" /><span>Your daughters—even your granddaughters!—begging you for skin care tips!</span></li>
        </ul>
    <p><strong>The best part: You won’t have to pay an arm and a leg for it. Just keep reading!</strong> This is the skin care solution that you've been waiting for so pay attention because I'm about to reveal the secret to healthier skin!</p>
    </div>
    
    <div class = "bfsp-section4">
    <h4><span>Beefriendly Certified Organic Face and Eye Cream </span><a class = "bfsp-section4-buy-button" href = "#purchase-section">Buy Now</a> </h4><div class = "clear-fix"></div>
    </div>

    <div class = "bfsp-section5">
        <h3>THE TRUE SECRET TO RADIANT LOOKING SKIN IS... <strong>ORGANIC HAWAIIAN HONEY</strong></h3>
        <p>Yes, there are other components to having healthy skin (and we'll talk about those in a minute) but everything else pales in comparison to <strong>Organic Hawaiian Honey</strong> It's a skin care "miracle cure". Let me explain why.</p>
        
        <p>Collagen is a vital component of youthful skin. It's what keeps your skin elastic and wrinkle-free. As you age, your body stops producing collagen. So your skin loses its “bounce” and you start developing wrinkles.</p>
        <p>But flowering plants indigenous to the Hawaiian Islands allow bees to create a <strong>unique type of honey</strong> - Hawaiian Honey - that stimulates <strong style = "text-decoration:underline;">collagen production.</strong></p>
      <p>So by using Hawaiian Honey, you allow your skin to regain its "bounce" and lose its wrinkles.</p>
    </div>
    
    <div class = "bfsp-section6">
    <img alt = "BeeFriendly Image" src = "{{'bf-woman-aside.jpg' | asset_url}}" />
        <h3>This “Miracle Cure” is Going to Change Your Skin. And It’s Affordable! <span>(What?! That’s Why It’s Such a Well-Kept Secret!)</span></h3>
        <p>When you here about results like these, people are usually turning to unnatural, toxic creams and skin elasticity enhancers: Expensive injections, masks, and lotions that only the super-rich can possibly afford (and that do harm to your skin and body over time). What’s funny is that all along, some of the best-known makeup artists in the world working with celebrities and supermodels were actually using Hawaiian Honey!</p>
        
       <p> Why? Because when you can afford anything… You still use whatever is the very best! </p>

<p> And what makes Hawaiian Honey so amazing?</p>

<p> Many people believe it’s the Hawaiian bees themselves. Others link it to the lack of polution. Whatever the reason, researchers point out that it’s no wonder Hawaii has the longest life expectancy in the United States. </p>

 <p><strong>All we know is that Hawaiian honey and beeswax create softer, younger looking skin. Which is why it’s the primary ingredient in...</strong></p>
        <div class = "clear-fix"></div>
    </div>
    
    <div class = "bfsp-section7">
        <h4>BeeFriendly Skin Care Certified Organic Face and Eye Cream</h4>
    </div>

    <div class = "bfsp-section8">
        <h3>You'll be 100% satisfied or you'll get your money back</h3>
        <div class = "bfsp8-text-aside">
        <p>Why are we so confident? BeeFriendly has captured the proven power of organic Hawaiian honey and combined it with all natural essential oils and vitamins to create a 100% all-natural, organic, and affordable face and eye cream that turns back the aging clock.</p>
        <p>Which means:</p>
<p><strong>Unlike other treatments, it’s completely non-toxic! (You could eat it on your toast in the morning—that’s how safe it is! But it’d be of better use on your skin.)</strong></p>
        <p>So just forget about the expensive injections, the toxic chemicals, or any other desperate solutions for your skin care needs. You don’t need them! </p>
<p>More on how BeeFriendly Certified Organic Face and Eye Cream works in just a minute. But first, I need you to think about this…</p></div>
        <img alt = "BeeFriendly Image" src = "{{'bf-pics.png' | asset_url}}" />
    </div>

    <div class = "bfsp-section9">
        <img alt = "BeeFriendly Image" src = "{{'bf-open-creme.png' | asset_url}}" />
        <div class = "bfps9-article" >
            <h4>Beefriendly Certified Organic Face and Eye Cream</h4>
            <a href = "#purchase-section" class = "bfsp9-buy-button bfsp9-buy-link" >Buy Now</a>
            <img alt = "BeeFriendly Image" class = "bfsp9-trust-seals" src = "{{'bf-trust-seals2.jpg' | asset_url}}" />
        </div>
        <hr class = "clear-fix" />
    </div>
    
    <div class = "bfsp-section10 clear-fix">
        <h3>THE REASONS WHY MOST SKIN TREATMENTS FAIL</h3>
        <p><span style = "text-decoration:underline;">All</span> of the dermatologists I talked to about skin care products agree that <strong>most of the treatments you see are just overpriced paperweights filled with mystery cream.</strong> They make "snake oil" promises that are often unregulated by the FDA, and can actually do more harm than good.</p>
        <p><span class = "bfsp10-enlarged" >The Reason They Don't Work Is Simple:</span> Instead of cooperating with your body’s natural processes to help your skin, they just fill your pores with chemicals.</p>
        <div class = "bfsp10-heading-aside"><h5>This wouldn't be the first time a corporation tried to pass off harmful chemicals for profit.</h5></div>
        <p><strong>And those chemicals? No surprise: They’re dangerous. </strong></p>
        <p>Just look at what the U.S. Food and Drug Administration (FDA) says about cosmetics: “It is the responsibility of cosmetic manufacturers to ensure, before marketing their products, that the products are safe when used as directed in their label or under customary conditions of use.”</p>
        <p>What is that really saying? Cosmetic companies get to decide what they put in your skin—with almost no regulation from the FDA!</p>
        <p>Fortunately, with <span class = "bfsp10-emphasis"> BeeFriendly,</span> you don’t have to worry what chemicals you’re putting in your skin. And you don’t have to worry about what the cost is to your health. BeeFriendly products are 100% all natural with no added chemicals, and are actually good for you! If that sounds too good to be true, just look at what is in our face cream...</p>
    </div>
    
    <div class = "bfsp-section11">
        <h4><span>Beefriendly Certified Organic Face and Eye Cream</span> <a href = "#purchase-section" class = "bfsp11-buy-button bfsp9-buy-link" >Buy Now</a></h4>
       
    </div>
    
    <div class = "bfsp-section12">
        <h3>THE WORLD’S MOST POWERFUL ANTI-AGING COMPONENTS ARE ACTUALLY ALL-NATURAL!</h3>
        <h4> LOOK AT THESE SIMPLE BUT EFFECTIVE INGREDIENTS.</h4>
        <hr />
           
        <div class = "bfsp12-img-aside">
            <img alt = "BeeFriendly Image" src = "{{'bf-honey-drip.jpg' | asset_url}}" />
        </div>
        <div class = "bfsp12-article">
            <h5>Raw Hawaiian Honey</h5>
            
            <p> With a combination of nutrients, antioxidants, vitamins, and minerals that are rarely found together in one natural course, honey is one of natures perfect cures. And it has a record of use dating back to pre-history.</p>

            <p>Ancient Egyptians recognized honey for its <strong>natural healing properties.</strong> Cleopatra used beeswax during the first century to keep her skin looking younger (and she is still remember as one of history’s greatest beauties).</p>

            <p><strong>BeeFriendly uses only 100% all natural, unpolluted, pure Hawaiian honey.</strong></p>
            
            <hr />
        </div>
        <div class = "clear-fix"></div>
        <div class = "bfsp12-img-aside">
            <img alt = "BeeFriendly Image" src = "{{'bf-honeycomb.jpg' | asset_url}}" />
        </div>
        <div class = "bfsp12-article">
            <h5>Pure beeswax</h5>
            <p>This 100% natural skin softener is actually what started the modern craze around bee byproduct skin care. With natural fatty acids that soothe the skin, antibiotic properties, and organic healing agents, beeswax is an important component of BeeFriendly skin care products. </p>
            <hr />
        </div>
        <div class = "clear-fix"></div>
        <div class = "bfsp12-img-aside">
            <img alt = "BeeFriendly Image" src = "{{'bf-queen-larvae.jpg' | asset_url}}" />
        </div>
        <div class = "bfsp12-article">
            <h5>Rare Royal Jelly</h5>
            <p>Bees work hard to produce royal jelly—a vital part of the bee nutrition—which contains proteins, minerals, and amino acids that combine to create one of the healthiest substances that any organism can use for cellular protection.</p>
            <hr />
        </div>
        <div class = "clear-fix"></div>
        <div class = "bfsp12-img-aside">
            <img alt = "BeeFriendly Image" src = "{{'bf-propolis.jpg' | asset_url}}" />
        </div>
        <div class = "bfsp12-article">
            <h5>Propolis</h5>
            <p>Also known as “bee glue,” propolis is another bee byproduct that has antimicrobial and natural anti-inflammatory properties. </p>

<p>Currently, propolis is being researched as a potential cancer cure in therapeutic studies.</p>
          
        </div>
        <div class = "clear-fix"></div>
        
        <h3 class = "bfsp12-2nd-header">THIS TESTED AND PROVEN COMBINATION OF ALL-NATURAL, ANTI-AGING INGREDIENTS LEAVES YOUR SKIN FEELING YOUTHFUL AND RADIANT</h3>
        <p>BeeFriendly Organic Face and Eye Cream is made from a unique combination of these bee-based ingredients. Using this 100% all-natural formula will allow you to:</p>
        <ul style = "margin-right:1.5%;margin-left:5%;">
            <li>Naturally reverse the effects of aging, and experience younger, healthier looking skin…</li>
            <li>Give your skin the moisture that it needs to look and feel healthier…</li>
            <li>Naturally stimulate collagen and promote skin cell regeneration…</li>
            <li>Improve the elasticity, softness and suppleness of your skin…</li>
            <li>And reduce lines, wrinkles, and age marks…</li>
        </ul>
        <ul style ="margin-right:5%;">
            <h5>ALL FROM A MOISTURIZER THAT…</h5>
            <li>Contains no chemicals, no parabens (which cause cancer), no SLS, and no fillers…</li>
            <li>Is NOT tested on animals...</li>
            <li>Uses only natural, organic ingredients...</li>
            <li>Doesn't contain harmful toxins...</li>
            <li>Is actually affordable!</li>
        </ul>
        <p>When you use BeeFriendly Organic Face and Eye Cream, you <strong>feel results in just minutes</strong> and notice a clear improvement in your skin that increases with every use. Within as little as 20 days, you’ll have healthier looking skin that’s soft, smooth, and vibrant.</p>
    </div>
    
    <div class = "bfsp-section13">
        <img alt = "BeeFriendly Image" alt="beefriendly image" src = "{{'bf-face-zommed.jpg' | asset_url}}" />
        <h4>Your Friends Will Secretly Search Through Your Cosmetics To Find Your Secret!</h4>
        <p><strong>People aren’t just going to notice the new you, they’ll want to know how you did it!</strong></p>
        <p>When they realize that you didn’t just return from a $1,000 weekend spa getaway, they’ll search through your powder room looking for your beauty secret!</p>
        <p>You can either share it with them, or keep this amazing beauty secret all to yourself!</p>
        <div class = "clear-fix"></div>
    </div>
    
    <div class = "bfsp-section14">
        <h3>BEEFRIENDLY IS CRAFTED IN HAWAII BY EXPERT BEEKEEPERS AND MAILED DIRECTLY TO YOUR DOOR!</h3>
        <p>Scroll down and click "Buy Now" to order  <strong>BeeFriendly USDA Certfied <br /> Organic Face and Eye Cream</strong> in a 2-, 4-, or 6-month supply. </p>
        
        <p>Due to high demand, supply is limited at this price—so you need to hurry! BeeFriendly isn’t available in stores due to the limits of our sustainable production of the all-natural, Hawaiian honey products used to create this cream. So order now or you’ll have to wait for the next batch!</p>
    </div>
    
    <div class = "bfsp-section15">
        <h3>AND NO - Just Because It Works Doesn't Mean It's Expensive.</h3>
        <p>“You get what you pay for” is a myth that brand-name corporations tell you to steal your money with chemical-filled facial treatments.</p>
        <p>With BeeFriendly, you get the advantage of pure, non-toxic skin care that actually works! And the affordability of a remedy crafted by nature! You only have to pay for the beekeeper to collect and mix the bee product formulation that makes BeeFriendly work.</p>     
<p>Plenty of people try Botox every day at up to $800 per treatment—and that doesn’t even come with a guarantee! Isn’t it time to try something new, that’s safe and natural?</p>
    </div>
    
         <div class = "bfsp-section17">
        <h3>BeeFriendly works or it's free! Here's Our Empty Jar Promise</h3>
        <img alt = "BeeFriendly Image" alt = "BeeFriendly Image" src = "{{'bf-trial-medal.png' | asset_url}}" />
        <p>Give BeeFriendly a 30 day trial in your own home with no risk!</p><p>

If you don’t’ look in the mirror after just a few days and love your new healthier skin, just send the empty jar back and we’ll refund your money!</p><p>

That’s our hassle-free, risk-free promise!</p>
        <div class = "clear-fix"></div>
    </div>
      <a name = "purchase-section"></a>
      
     {%comment%}
    <div class = "bfsp-section16">
        <h3>Choose how many jars you'd like</h3>
        
        <div class = "bfsp16-purchase-section">
            <div class = "bfsp16-purchase-1 bfsp16-purchase">
                <h4>1 Jar <strong>$35</strong></h4>
                <img alt ="BeeFriendly 1 Jar" src = "{{'bf-product1.png' | asset_url}}" />

              {% assign product = all_products.usda-certified-organic-face-and-eye-cream-sensitive-collection-1x %}

  <div class="add-to-cart">
     
        <form class="add-item-form" action="/cart/add" method="post" class="variants clearfix" autocomplete="off" data-productid="{{product.id}}">
          {% if product.available %}{% endif %} 
          <!-- Begin product options -->
          <input type="hidden" name="id"  data-productid="{{product.id}}"value="{{ product.variants.first.id }}"/>
          
          <div class="purchase">
            {% unless product.available %}
            <input type="submit" id="sold-out" class="btn addtocart" name="add" value="Sold Out" disabled="" />
            {% else %}
            <input type="submit" id="add-to-cart" class="btn addtocart addtocart2" name="add" value="Buy Now"{% unless product.variants.first.available %} style="display: none;"{% endunless %} />
            <input type="submit" id="sold-out" class="btn addtocart addtocart2" name="add" value="Sold Out" disabled=""{% if product.variants.first.available %} style="display: none;"{% endif %} />
            <input type='hidden' name='quantity' value='1' class='tc item-quantity' />
            {% if settings.add_to_cart_options == 'text' %}
            <div class="add-to-cart-msg" style="display:none"></div>
            {% endif %}

            {% endunless %}
          </div>
          <!-- End product options -->
          
        </form>
           
    </div><!--end add to cart--->
    

              
              
              
              
              
                <p>USDA certified face and eye cream - sensitive collection</p>
            </div>
            
            <div class = "bfsp16-purchase-2 bfsp16-purchase">
                <img class = "bf-value-banner" src = "{{'bf-value-banner.png' | asset_url}}" />
                <h4>3 Jars <strong>$75</strong></h4>
                <img alt ="BeeFriendly 3 Jars" src = "{{'bf-product2.png' | asset_url}}" />
                <img alt ="BeeFriendly 3 Jars" class = "purchase-best-value-arrow" src = "{{'bf-buy-after-arrow.png' | asset_url}}" />

              {% assign product = all_products.usda-certified-organic-face-and-eye-cream-sensitive-collection-3x %}

  <div class="add-to-cart">
     
        <form class="add-item-form" action="/cart/add" method="post" class="variants clearfix" autocomplete="off" data-productid="{{product.id}}">
          {% if product.available %}{% endif %} 
          <!-- Begin product options -->
          <input type="hidden" name="id"  data-productid="{{product.id}}"value="{{ product.variants.first.id }}"/>
          
          <div class="purchase">
            {% unless product.available %}
            <input type="submit" id="sold-out" class="btn addtocart" name="add" value="Sold Out" disabled="" />
            {% else %}
            <input type="submit" id="add-to-cart" class="btn addtocart addtocart2" name="add" value="Buy Now"{% unless product.variants.first.available %} style="display: none;"{% endunless %} />
            <input type="submit" id="sold-out" class="btn addtocart addtocart2" name="add" value="Sold Out" disabled=""{% if product.variants.first.available %} style="display: none;"{% endif %} />
            <input type='hidden' name='quantity' value='1' class='tc item-quantity' />
            {% if settings.add_to_cart_options == 'text' %}
            <div class="add-to-cart-msg" style="display:none"></div>
            {% endif %}

            {% endunless %}
          </div>
          <!-- End product options -->
          
        </form>
           
    </div><!--end add to cart--->
    
                <p>USDA certified face and eye cream - sensitive collection</p>
            </div>
            
            <div class = "bfsp16-purchase-3 bfsp16-purchase">
                <h4>2 Jars <strong>$60</strong></h4>
                <img alt ="BeeFriendly 2 Jars" src = "{{'bf-product3.png' | asset_url}}" />

              {% assign product = all_products.usda-certified-organic-face-and-eye-cream-sensitive-collection-2x %}

  <div class="add-to-cart">
     
        <form class="add-item-form" action="/cart/add" method="post" class="variants clearfix" autocomplete="off" data-productid="{{product.id}}">
          {% if product.available %}{% endif %} 
          <!-- Begin product options -->
          <input type="hidden" name="id"  data-productid="{{product.id}}"value="{{ product.variants.first.id }}"/>
          
          <div class="purchase">
            {% unless product.available %}
            <input type="submit" id="sold-out" class="btn addtocart" name="add" value="Sold Out" disabled="" />
            {% else %}
            <input type="submit" id="add-to-cart" class="btn addtocart addtocart2" name="add" value="Buy Now"{% unless product.variants.first.available %} style="display: none;"{% endunless %} />
            <input type="submit" id="sold-out" class="btn addtocart addtocart2" name="add" value="Sold Out" disabled=""{% if product.variants.first.available %} style="display: none;"{% endif %} />
            <input type='hidden' name='quantity' value='1' class='tc item-quantity' />
            {% if settings.add_to_cart_options == 'text' %}
            <div class="add-to-cart-msg" style="display:none"></div>
            {% endif %}

            {% endunless %}
          </div>
          <!-- End product options -->
          
        </form>
           
    </div><!--end add to cart--->
    
                <p>USDA certified face and eye cream - sensitive collection</p>
            </div>
        </div>
    </div>
        
        {%endcomment%}
      
         <div class = "bfsp2-section16">
        <h3>Choose how many jars you would like</h3>
                <div class = "bfsp216-purchase-section">

      
      
      
                	<img src = "{{'value-banner.png'|asset_url}}" class = "bfesp216-value-banner"/>
            <div class = "bfsp216-purchase-3 bfsp216-purchase bfsp216-purchase-recommended">
              
              <img src = "{{'bfsp-value-overlay.png' | asset_url}}" class = "bfsp16-value-overlay" />
              
              <div class = "bfsp216-purhcase-header"> 
              <h2>3 Jars </h2>
              <h3>USDA Certified Organic</h3>
              <h3><strong>Face and Eye Cream</strong></h3>
              <h3><span>Sensitive Collection</span></h3>
              
              <h4 class = "bfsp216-save-banner">Save 40%!</h4>
              </div> 
                <img alt ="BeeFriendly 3 Jars" src = "{{'bfsp-3jars.jpg' | asset_url}}" />

              <h4 class = "bfsp216-price-banner"><span>$120.00</span> $75.00</h4>
              <h5>$25 each!</h5>

              {% assign product = all_products.usda-certified-organic-face-and-eye-cream-sensitive-collection-3x %}

  <div class="add-to-cart">
     
        <form class="add-item-form" action="/cart/add" method="post" class="variants clearfix" autocomplete="off" data-productid="{{product.id}}">
          {% if product.available %}{% endif %} 
          <!-- Begin product options -->
          <input type="hidden" name="id"  data-productid="{{product.id}}"value="{{ product.variants.first.id }}"/>
          
          <div class="purchase">
            {% unless product.available %}
            <input type="submit" id="sold-out" class="btn addtocart" name="add" value="Sold Out" disabled="" />
            {% else %}
            <input type="submit" id="add-to-cart" class="btn addtocart addtocart2" name="add" value="Buy Now!"{% unless product.variants.first.available %} style="display: none;"{% endunless %} />
            <input type="submit" id="sold-out" class="btn addtocart addtocart2" name="add" value="Sold Out" disabled=""{% if product.variants.first.available %} style="display: none;"{% endif %} />
            <input type='hidden' name='quantity' value='1' class='tc item-quantity' />
            {% if settings.add_to_cart_options == 'text' %}
            <div class="add-to-cart-msg" style="display:none"></div>
            {% endif %}

            {% endunless %}
          </div>
          <!-- End product options -->
          
        </form>
                                 <img src = "{{ 'icons-banner.png' | asset_url }}" />

    </div><!--end add to cart--->
    
            </div>
      
      
      
      
      
      
      
      
         
          
          
          
          
          
          

            
            <div class = "bfsp216-purchase-2 bfsp216-purchase">
                            <div class = "bfsp216-purhcase-header"> 

                <h2>2 Jars </h2>
              <h3>USDA Certified Organic</h3>
              <h3><strong>Face and Eye Cream</strong></h3>
                              <h3><span>Sensitive Collection</span></h3></div>
                <img alt ="BeeFriendly 2 Jars" src = "{{'bfps-2jars.jpg' | asset_url}}" />

              <h4 class = "bfsp216-price-banner"><span>$80.00</span> $60.00</h4>
              <h5>$30 each!</h5>
              {% assign product = all_products.usda-certified-organic-face-and-eye-cream-sensitive-collection-2x %}

  <div class="add-to-cart">
     
        <form class="add-item-form" action="/cart/add" method="post" class="variants clearfix" autocomplete="off" data-productid="{{product.id}}">
          {% if product.available %}{% endif %} 
          <!-- Begin product options -->
          <input type="hidden" name="id"  data-productid="{{product.id}}"value="{{ product.variants.first.id }}"/>
          
          <div class="purchase">
            {% unless product.available %}
            <input type="submit" id="sold-out" class="btn addtocart" name="add" value="Sold Out" disabled="" />
            {% else %}
            <input type="submit" id="add-to-cart" class="btn addtocart addtocart2" name="add" value="Buy Now!"{% unless product.variants.first.available %} style="display: none;"{% endunless %} />
            <input type="submit" id="sold-out" class="btn addtocart addtocart2" name="add" value="Sold Out" disabled=""{% if product.variants.first.available %} style="display: none;"{% endif %} />
            <input type='hidden' name='quantity' value='1' class='tc item-quantity' />
            {% if settings.add_to_cart_options == 'text' %}
            <div class="add-to-cart-msg" style="display:none"></div>
            {% endif %}

            {% endunless %}
          </div>
          <!-- End product options -->
          
        </form>
                      <img src = "{{ 'icons-banner.png' | asset_url }}" />

    </div><!--end add to cart--->
    
            </div>
          
          
          
          

          
          
       
      
      
    
          
            <div class = "bfsp216-purchase-1 bfsp216-purchase">
              <div class = "bfsp216-purhcase-header"> 
              <h2>1 Jar </h2>
              <h3>USDA Certified Organic</h3>
              <h3><strong>Face and Eye Cream</strong></h3>
              <h3><span>Sensitive Collection</span></h3></div>
                <img alt ="BeeFriendly 1 Jar" src = "{{'bfsp-1jar.jpg' | asset_url}}" />

              <h4 class = "bfsp216-price-banner"><span>$39.95</span> $35.00</h4>
              <h5>12% Off!</h5>
              {% assign product = all_products.usda-certified-organic-face-and-eye-cream-sensitive-collection-1x %}

  <div class="add-to-cart">
     
        <form class="add-item-form" action="/cart/add" method="post" class="variants clearfix" autocomplete="off" data-productid="{{product.id}}">
          {% if product.available %}{% endif %} 
          <!-- Begin product options -->
          <input type="hidden" name="id"  data-productid="{{product.id}}"value="{{ product.variants.first.id }}"/>
          
          <div class="purchase">
            {% unless product.available %}
            <input type="submit" id="sold-out" class="btn addtocart" name="add" value="Sold Out" disabled="" />
            {% else %}
            <input type="submit" id="add-to-cart" class="btn addtocart addtocart2" name="add" value="Buy Now!"{% unless product.variants.first.available %} style="display: none;"{% endunless %} />
            <input type="submit" id="sold-out" class="btn addtocart addtocart2" name="add" value="Sold Out" disabled=""{% if product.variants.first.available %} style="display: none;"{% endif %} />
            <input type='hidden' name='quantity' value='1' class='tc item-quantity' />
            {% if settings.add_to_cart_options == 'text' %}
            <div class="add-to-cart-msg" style="display:none"></div>
            {% endif %}

            {% endunless %}
          </div>
          <!-- End product options -->
          
        </form>
           <img src = "{{ 'icons-banner.png' | asset_url }}" />
    </div><!--end add to cart--->

                          </div>
            
          
      
      
      
      
      
      
          
        </div>
    </div>   
      
      
      
      
        
   
    
    
    <div class = "bfsp-section18">
        <h4><span>Ingredients and directions</span> <img alt = "BeeFriendly Image" src = "{{'bf-trust-seals.jpg' | asset_url}}" /></h4>
        <h5>Ingredients</h5>
        <ul>
            <div>
                <li>Purified water</li>
                <li>Organic extra virgin olive oil</li>
                <li>Organic beeswax (contains naturally occurring bee pollen and propolis)</li>
                <li>Organic jojoba oil</li>
                <li>Organic argan oil</li>
                <li>Organic coconut oil</li>
                <li>Organic evening primrose oil</li></div><div>
                <li>Organic aloe butter</li>
                <li>Organic honey (contains naturally ocurring royal jelly)</li>
                <li>Organic sea buckthorn oil</li>
                <li>Handmade by holistic BeeKeepers in Hawaii</li>
                <p><strong>** USDA CERTIFIED ORGANIC **</strong></p>
            </div>
        </ul>
        
    </div>    
    
    
    
        <div class = "bfsp-section19">
<h3>Directions</h3>
    <p>
    Apply daily to cleansed skin once or twice a day. Rub the cream into your skin with small, circular movements until absorbed. Apply sparingly—a little goes a long way. If you over-apply the cream will take longer to absorb, so remember: A little goes a long way! Our creams contain no binders or fillers, and are therefore HIGHLY concentrated. Apply a tiny amount and it will absorb in seconds (not minutes), and experiment from there as to what suits your skin. For best results, apply daily as part of your skin maintenance routine along with BeeFriendly Cleanser, BeeFriendly Face and Eye Serum, and BeeFriendly Body Cream. NOTE: Because this cream is chemical- and binder-free, separation might occur. This is natural and speaks to the high quality of the cream! Just lightly stir before use. </p>
    <p style = "font-style:italic;">*While we have done our best to tailor our Sensitive Collection creams to those with sensitive skin, everyone’s skin is different. We recommend testing any product you apply on your face (not just ours) on a very small area for a few days prior to applying it thoroughly, just to be sure you don’t have an intolerance. If a reaction does occur, discontinue use immediately.  </p>
    </div>
        </div>

  <div class = "bfsp-copyright-footer" ><a href = "http://www.beefriendlyskincare.com/pages/privacy-policy" >Privacy Policy</a> &nbsp;&nbsp;&nbsp; Copyright &copy; 2016 BeeFriendly&reg; LLC  &nbsp;&nbsp;&nbsp; <a href = "http://www.beefriendlyskincare.com/pages/terms-of-use" >Terms of Use</a></div>
  
</div><!-- generic-page -->