<div id="pre-sell-page" class="container-wrapper textile">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ page.content }}
  {% if page.metafields.presell.image_one %}
  <a class="presell-image" href="{{ page.metafields.presell.link_one }}"><img src="{{ page.metafields.presell.image_one  }}" /></a>
  {% endif %}
  {% if page.metafields.presell.content_one %}
  {{ page.metafields.presell.content_one  }}
  {% endif %}
  {% if page.metafields.presell.image_two %}
  <a class="presell-image" href="{{ page.metafields.presell.link_two }}"><img src="{{ page.metafields.presell.image_two  }}" /></a>
  {% endif %}
  {% if page.metafields.presell.content_two %}
  {{ page.metafields.presell.content_two  }}
  {% endif %}
  {% if page.metafields.presell.image_three %}
  <a class="presell-image" href="{{ page.metafields.presell.link_three }}"><img src="{{ page.metafields.presell.image_three }}" /></a>
  {% endif %}
  {% if page.metafields.presell.content_three %}
  {{ page.metafields.presell.content_three  }}
  {% endif %}
  {% if page.metafields.presell.video_one %}
  <div class="presell-iframe-wrapper">{{ page.metafields.presell.video_one  }}</div><!--presell-iframe-wrapper-->
  {% endif %}
</div><!-- generic-page -->
  
  